<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<title>顺凯BIM | 项目演示</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../public/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../public/plugins/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="../public/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../public/css/one-page-parallax/style.min.css" rel="stylesheet" />
	<link href="../public/css/one-page-parallax/style-responsive.min.css" rel="stylesheet" />
	<link href="../public/css/one-page-parallax/theme/default.css" id="theme" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../public/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>

<body data-spy="scroll" data-target="#header" data-offset="51">
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-header -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#header-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/index" class="navbar-brand">
						<span class="brand-logo"></span>
						<span class="brand-text">
							<span class="text-theme">SK</span> BIM
						</span>
					</a>
				</div>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link"><%= current_user.name%></a></li>
						<li class="nav-item"><a class="nav-link">项目管理</a></li>
						<li class="nav-item"><a class="nav-link" href="signout">退出</a></li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->
		<!-- begin #work -->
		<div id="work" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title"></h2>
				<h2 class="content-title">
					BIM项目展示
				</h2>
				<!-- begin row -->
				<div class="row row-space-10">
					<!-- begin col-3 -->
					<div class="col-md-3 col-sm-6">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../public/img/work/work-img-1.jpg" alt="Work 1" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Aliquam molestie</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-md-3 col-sm-6">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../public/img/work/work-img-2.jpg" alt="Work 2" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Quisque at pulvinar lacus</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-md-3 col-sm-6">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../public/img/work/work-img-3.jpg" alt="Work 3" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Vestibulum et erat ornare</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-md-3 col-sm-6">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../public/img/work/work-img-4.jpg" alt="Work 4" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Sed vitae mollis magna</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
					<!-- begin col-3 -->
					<div class="col-md-3 col-sm-6">
						<!-- begin work -->
						<div class="work">
							<div class="image">
								<a href="#"><img src="../public/img/work/work-img-4.jpg" alt="Work 4" /></a>
							</div>
							<div class="desc">
								<span class="desc-title">Sed vitae mollis magna</span>
								<span class="desc-text">Lorem ipsum dolor sit amet</span>
							</div>
						</div>
						<!-- end work -->
					</div>
					<!-- end col-3 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #work -->

		<!-- begin #footer -->
		<div id="footer" class="footer">
			<div class="container">
				<p>
					&copy; Copyright Color Admin 2019 <br />
					An admin & front end theme with serious impact. Created by <a href="#">SeanTheme</a>
				</p>
			</div>
		</div>
		<!-- end #footer -->
	</div>
	<!-- end #page-container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../public/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../public/crossbrowserjs/html5shiv.js"></script>
		<script src="../public/crossbrowserjs/respond.min.js"></script>
		<script src="../public/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../public/plugins/js-cookie/js.cookie.js"></script>
	<script src="../public/plugins/scrollMonitor/scrollMonitor.js"></script>
	<script src="../public/plugins/paroller/jquery.paroller.min.js"></script>
	<script src="../public/js/one-page-parallax/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function () {
			App.init();
		});
	</script>
</body>

</html>